@charset "UTF-8";

@import 'settings';
@import 'base/normalize';

// Bourbon & Neat
@import "bourbon/bourbon";
@import "neat/neat";

// Base
@import 'base/typography';
@import 'base/forms';

// Global

html {
  background: $grey;
}

body {
  @include outer-container;
  margin-top: em($base-line-height);
}

.button {
  @include button;
}

.brand {
  font-family: $serif;
}