@charset "UTF-8";

@import 'settings';
@import 'base/normalize';

// Bourbon & Neat
@import "bourbon/bourbon";
@import "neat/neat";

// Base
@import 'base/typography';
@import 'base/forms';

// Global

html {
  background: $grey;
}

section {
  @include outer-container;
}

.button {
  @include button;
}


// Top bar
.top-bar {
  background: $black;
}

.top-bar--container {
  @include outer-container;
}

.brand {
  color: $white;
  font-family: $serif;
  line-height: 2;
}

.sign-in {
  float: right;
  a {
    margin-left: 2em;
    line-height: 4em;
    color: $white;
  }
}