<h1>
  <%= user.name %> <%= user.surname %>

  <% if (user.admin) { %>
    <small>Admin</small>
  <% } else { %>
    <small>Standard</small>
  <% } %>
</h1>
<%= user.email %>
<a href="/user/edit/<%= user.id %>">Edit</a>

<h2>Instruments</h2>
<a href="/instrument/new" class="button">Add an instrument</a>
