<h1>Sign up to get started</h1>

<% if (!session.authenticated) { %>
  <form action="/session/create" method="POST">
    <input type="email" placeholder="Email address" name="email">
    <input type="password" placeholder="Password" name="password">
    <input type="submit" value="Sign in">
    <input type="hidden" name="_csrf" value="<%= _csrf %>">
  </form>
<% } %>

<a href="/user/new" class="button">sign up now</a>